/* styles.css */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

h1 {
    color: #007BFF;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

p {
    text-align: center;
}

p,
a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

span {
    font-size: 18px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    padding: .5rem;
    background-color: #007BFF;
    position: relative;
    color: black;
    bottom: 0;
    text-align: center;
    margin-top: 20px;
}